.Grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "contenedor-1 contenedor-1"
        "contenedor-2 contenedor-3"
        "contenedor-4 contenedor-4"
    ;
}

main .Grid .div__Container-1 {
    grid-area: contenedor-1;
    background-color: red;
    display: flex;
    width: 100%;
    justify-content: space-around;
}


main .Grid .div__Container-1 .div__Container--1-Hijo {
    background-color: gray;
    border: 1px solid white;
    width: 30%;
}

main .Grid .div__Container-1 .div__Container--1-Hijo img {
    width: 100%;
    object-fit: cover;
}

main .Grid .div__Container-1 .div__Container--1-Hijo1 {
    background-color: gray;
    border: 1px solid white;
    width: 30%;
}

main .Grid .div__Container-1 .div__Container--1-Hijo1 img {
    object-fit: cover;
    width: 100%;
}

main .Grid .div__Container-1 .div__Container--1-Hijo2 {
    background-color: gray;
    border: 1px solid white;
    width: 30%;

}


main .Grid .div__Container-1 .div__Container--1-Hijo2 img {
    object-fit: cover;
    width: 100%;
}





.div__Container-2 {
    grid-area: contenedor-2;
    background-color: gray;
}

.div__Container-3 {
    background-color: purple;
    grid-area: contenedor-3;
}

.div__Container-4 {
    grid-area: contenedor-4;
    background-color: lightcoral;
}